<a href="https://colab.research.google.com/github/thsdornelas/curso_analise_dados/blob/main/lendo_arquivos_grandes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#Colunas para importar
colunas = ['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
          'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE']

In [3]:
#Lendo arquivo
microdados_enem2019 = pd.read_csv('/content/drive/MyDrive/curso_analise_dados/brutos/MICRODADOS_ENEM_2019.csv',
                                  sep=';', encoding='ISO-8859-1', usecols=colunas)

In [4]:
microdados_enem2019.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5095270 entries, 0 to 5095269
Data columns (total 7 columns):
 #   Column                   Dtype
---  ------                   -----
 0   NU_INSCRICAO             int64
 1   NU_ANO                   int64
 2   CO_MUNICIPIO_RESIDENCIA  int64
 3   NO_MUNICIPIO_RESIDENCIA  object
 4   CO_UF_RESIDENCIA         int64
 5   SG_UF_RESIDENCIA         object
 6   NU_IDADE                 int64
dtypes: int64(5), object(2)
memory usage: 855.9 MB

In [5]:
microdados_enem2019.head()

   NU_INSCRICAO  NU_ANO  ...  SG_UF_RESIDENCIA NU_IDADE
0  190001004627    2019  ...                PA       21
1  190001004628    2019  ...                PA       16
2  190001004629    2019  ...                PA       18
3  190001004630    2019  ...                PA       23
4  190001004631    2019  ...                PA       23

[5 rows x 7 columns]